#cabecalhoFornecedor{

    position: relative;
    margin: 0 auto;
    
}



#cnpj{

    margin-top: 10px;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 7px;

}

#nameCompany{

    margin-top: 10px;
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 7px;
    
}

#inscEstadual{

    margin-top: 10px;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 7px;

}

#street{

    margin-top: 10px;
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 7px;  

}

#nbBuilding{

    margin-top: 10px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 7px;  

}

#cep{

    margin-top: 10px;
    width: 150
    px;
    height: 35px;
    border: none;
    border-radius: 7px;

}

input:hover{

    background-color: rgb(216, 214, 214);
    
}

p{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    
}