
body h1{
    color: bisque;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}


#inputCodigo{
    
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
    margin: auto;

}



#inputcnpj{

    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;

}
#inputInscri{

    margin-top: 0px;
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;

}

#inputEmpre{

    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
    
}
#inputFantasia{

    margin: auto;
    width: 1020px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
    
}



#inputLogradouro{
    
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;

}

#inputNumero{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;  
    text-align: center;
}

#inputComplemento{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;  
    text-align: center;
}
#inputCEP{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px; 
    text-align: center;
    }

#inputBairro{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;  
    text-align: center;
}

#inputMunicipio{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;  
    text-align: center;
}




#uf{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px;  
    text-align: auto;
}

#inputTelefone{
    margin: auto;
    width: 450px;
    height: 35px;
    border: none;
    border-radius: 20px; 
    text-align: center;
}

input:hover{

    background-color: rgb(216, 214, 214);
    
}

nav li{

    display: inline-block;
    background-color: #dddddd;
    padding: 3px; 
    margin: 4px;
    
 }
 nav li:hover {
    background-color: #606060;
    color: white;
    transition: background-color 1s;
}
nav#textoNavbar a:hover{
    
    text-decoration: underline;
}
.addFornecedor{
    margin: auto;
    width: auto;
    height: 35px;
    border: none;
    border-radius: 10px; 
    text-align: center;
    background-color: white;
}

