@charset "utf-8";
body {
    background-color: orange;
    color: bisque;
}

header#cabecalho {
    text-align: center;
    text-decoration-color: white
}

#imgHeader {
    width: 80%;
    height: 80%;
    position: absolute;
    padding-left: 5%;
}

form {
    margin-block: initial;
}